/* Color Theme Swatches in Hex */
.Tropical-Fruit-Punch-1-hex { color: #146152; }
.Tropical-Fruit-Punch-2-hex { color: #44803F; }
.Tropical-Fruit-Punch-3-hex { color: #B4CF66; }
.Tropical-Fruit-Punch-4-hex { color: #FFEC5C; }
.Tropical-Fruit-Punch-5-hex { color: #FF5A33; }

/* Color Theme Swatches in RGBA */
.Tropical-Fruit-Punch-1-rgba { color: rgba(19, 96, 82, 1); }
.Tropical-Fruit-Punch-2-rgba { color: rgba(67, 127, 62, 1); }
.Tropical-Fruit-Punch-3-rgba { color: rgba(179, 206, 101, 1); }
.Tropical-Fruit-Punch-4-rgba { color: rgba(255, 235, 92, 1); }
.Tropical-Fruit-Punch-5-rgba { color: rgba(255, 90, 50, 1); }

/* Color Theme Swatches in HSLA */
.Tropical-Fruit-Punch-1-hsla { color: hsla(168, 66, 22, 1); }
.Tropical-Fruit-Punch-2-hsla { color: hsla(115, 34, 37, 1); }
.Tropical-Fruit-Punch-3-hsla { color: hsla(75, 51, 60, 1); }
.Tropical-Fruit-Punch-4-hsla { color: hsla(52, 100, 68, 1); }
.Tropical-Fruit-Punch-5-hsla { color: hsla(11, 100, 59, 1); }
